:root {
  --primary-color: white;
  --default-font-family: "poppins", sans-serif;
  --secondary-color: #462cb2;
}

body {
  font-family: var(--default-font-family);
  background: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--default-font-family);
  font-weight: bold;
  color: var(--primary-color);
}

p {
  font-family: var(--default-font-family);
  color: var(--primary-color);
  font-weight: normal;
  font-size: 16px;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/images/cover\ photo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 0;
  max-width: 100%;
  margin: 0 auto;
}
.hero {
  border: 1px solid #272044;
  padding: 60px;
  text-align: center;
  color: white;
}
.content-container {
  padding: 30px 10px;
}

.content-section {
  margin: 0 10px 0 10px;
}

.content-section h2 {
  font-size: 35px;
}

.content-section h3 {
  font-size: 15px;
}

.content-section h4 {
  font-size: 25px;
}

.content-section p {
  font-size: 16px;
}